@font-face {
    font-family: "Pixelify";
    src: url("fonts/PixelifySans-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
.my-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.rei-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.rei-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rei-image-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #c8b8df;
    border-radius: 8px;
    margin-bottom: 1%;
    input {
        color: #502f4c;
        background-color: #9350f4;
        border: 5px #008000ff;
        border-radius: 8px;
    }
    input[type="file"]::file-selector-button {
        background-color: #41a6dd;
        color: #502f4c;
        border-radius: 8px;
    }
    input[type="file"]::file-selector-button:focus {
        outline: none;
        box-shadow: 1px 1px #0b6da5;
    }
    input[type="file"]::file-selector-button:hover {
        background-color: #24749c;
        color: #ffffff;
    }
}

.send-button {
    margin-left: 5%;
    width: 32%;
    margin-bottom: 0.5%;
    background-color: #41a6dd;
    color: #502f4c;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
}

.send-button:focus {
    outline: none;
    box-shadow: 1px 1px #0b6da5;
}

.send-button:hover {
    background-color: #24749c;
    color: #ffffff;
}

.form-card {
    padding-left: 5%;
    solid-color: deepskyblue;
}


body {
    font-family: Pixelify, sans-serif;
    padding: 0;
    background-color: #F9F4F5;
}

.my-header {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-around;
    background-color: #70587C;
    color: #1E1D1D;
    padding: 4%;
    margin-bottom: 1%;
}

.my-footer {
    background-color: #70587C;
    color: #1E1D1D;
    padding: 4%;
    margin-bottom: 1%;
}

.about-section {
    background-color: #c8b8db;
    color: #1E1D1D;
    padding: 4%;
    margin-bottom: 1%;
}

.hobby-card {
    background-color: #c8b8db;
    color: #1E1D1D;
    padding: 4%;
    margin-bottom: 1%;
}

.books-list {
    background-color: #c8b8db;
    color: #1E1D1D;
    padding: 4%;
    margin-bottom: 1%;
}

.my-image {
    border: 9px solid aquamarine;
    border-radius: 24px;
    width: 37%;

}

.rei-image {
    border: 9px solid deepskyblue;
    border-radius: 36px;
    width: 37%;
}

h1 {
    text-align: center;
    color: #502f4c;
    font-size: 37px;
}

a {
    color: #8B0000ff;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

a:hover {
    color: #500d3f;
}

@media screen and (max-width: 580px) {
    .my-header {
        flex-direction: column;
    }

    .my-main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .rei-gallery {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}
