@font-face {
    font-family: "Pixelify";
    src: url("fonts/PixelifySans-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
.my-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.rei-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.rei-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

body {
    font-family: Pixelify, sans-serif;
    padding: 0;
    background-color: #F9F4F5;
}

.my-header {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-around;
    background-color: #70587C;
    color: #1E1D1D;
    padding: 17px;
    margin-bottom: 9px;
}

.my-footer {
    background-color: #70587C;
    color: #1E1D1D;
    padding: 17px;
    margin-bottom: 9px;
}

.about-section {
    background-color: #c8b8db;
    color: #1E1D1D;
    padding: 34px;
    margin-bottom: 9px;
}

.hobby-card {
    background-color: #c8b8db;
    color: #1E1D1D;
    padding: 34px;
    margin-bottom: 9px;
}

.books-list {
    background-color: #c8b8db;
    color: #1E1D1D;
    padding: 34px;
    margin-bottom: 9px;
}

.my-image {
    border: 9px solid aquamarine;
    border-radius: 3px;
    width: 200px;

}

.rei-image {
    border: 9px solid deepskyblue;
    border-radius: 12px;
    width: 200px;
}

h1 {
    text-align: center;
    color: #502f4c;
    font-size: 37px;
}

a {
    color: darkred;
    text-decoration: none;
}
